<!-- chat-js -->
 <script src="/_ah/channel/jsapi"></script>
 <script>goog.appengine.Socket.POLLING_TIMEOUT_MS = 1200;</script>
 <script src="/jquery.js"></script>
 <script>
  var $content;// = $('#content');
  var $message;// = $('#message');
  var token;

    function get_token() {
     $.get('/get_token', function(data){
      if (data) {
       token = data;
       openChannel();
      } else {
       $message.append('<p>Sorry, this chat room has reached the capacity of anonymous users, you need <a href="/login">login</a> to join them.</p>');
      }
     });
    }

    function onOpen() {
     $.post('/open', {'token': token, 'csrfmiddlewaretoken':'{{ csrfmiddlewaretoken_token }}'});
    }

    function onMessage(m) {
     var message = $.parseJSON(m.data);
     message = message.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\n/g, '<br />');
     var d = new Date();
     var timing = ('0'+d.getHours()).slice(-2) + ":" + ('0'+d.getMinutes()).slice(-2) + ':' + ('0'+d.getSeconds()).slice(-2);
     $message.append('<blockquote><span class="message_time">(' + timing + ")</span> " + message + '</blockquote>');
     $("#message").animate({scrollTop:$("#message")[0].scrollHeight}, 1000);
    }

    function openChannel() {
     var channel = new goog.appengine.Channel(token);
     var handler = {
       'onopen': onOpen,
       'onmessage': onMessage,
       'onerror': function() {},
       'onclose': function() {$message.append('<p>Your session has expired, you can refresh this page to join the chat room again.</p>');} // you can reopen the channel here if token has expired
     };
     channel.open(handler);
    }

    function release_token() {
     $.post('/del_token', {'token': token, 'csrfmiddlewaretoken':'{{ csrfmiddlewaretoken_token }}'});
    }

  function reconnect() {
   release_token();
   setTimeout("get_token();r2();", 3000);
  }
  function r2() {
   $content.val('Let me know if you have any questions! I am connected to the chat and will be able to see your messages :D');
   setTimeout("$('#submit_message').click();", 3000); //$('#submit_message').click();
  }
  //setInterval ( "reconnect()", 1000*60*1000 ); //reconnect every 1000 minutes

   function submit() {
    if (token) {
     $.ajax({
      url: '/post_msg',
      type: 'POST',
      data: {'token': token, 'content': $content.val(), 'csrfmiddlewaretoken':'{{ csrfmiddlewaretoken_token }}'}
     });
     $content.val('').focus();
    }
   }

  function startChat(jQuery) {
    //var $content = $('#content');
    //var $message = $('#message');
    //var token;
    $content = $('#content');
    $message = $('#message');
    get_token();

    $content.keypress(function(e) {
     if (!e.shiftKey && e.keyCode == 13) {
      submit();
      return false;
     }
    });
    $('#submit_message').click(submit);

    $(window).bind('beforeunload', function() {
     if (token)
      release_token();
    })
   }
 </script>
 
