/* chat styles */
   .chatprompt{
    position:fixed;
    top:422px;
    right:0px;
    width:35px;
    height:75px;
    background-color:#11bbcc;
    color:#ffffff;font-family:Arial, Verdana, sans-serif;
    margin:0px 0px 0px 0px;
   }
   .chatwindow{
    display:none;
   }
