<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8"/>
 <title>Kris Lion - chat</title>
 <style type="text/css">
  #input { position: absolute; width: 45%; left: 50%; }
  #content { width: 95%; }
  #message { position: absolute; top: 0; width: 45%; height: 100%; word-wrap:break-word; word-break:break-all; overflow-y:scroll; word-wrap:break-word;}
  .top1em { margin-top: 1em; }
  .top2em { margin-top: 0.5em; }
  .message_time { font-family:Consolas,Lucida Console,monospace; color:#11bb22; font-size:70%; }
 </style>
 {% include "chat-js.html" %}
 <script>
   $(document).ready( startChat );
 </script>
</head>
<body>
 <div id="input">
  <div><textarea id="content" rows="3" cols="60"></textarea></div>
  <div class="top1em"><input type="button" value="Send" id="submit_message"/> <a href="/login">{{ login_logout_prompt }}</a></div>
  <div class="top2em"><blockquote><p>You can press <strong>Enter</strong> to submit a message or Shift+Enter to enter a newline in your message.</p></blockquote></div>
 </div>
 <div id="message"></div>
 {% include "ga.html" %}
</body>
</html>

