/* context-aware styles */
   @media (max-width:1660px){
    .content-fun{
     background-image:url("images/catch-drone-zoom-1680-2.jpg");
    }
   }
   @media (max-width:1020px){
    .content-fun{
     background-image:url("images/catch-drone-zoom-1024.jpg");
     height:425px;
    }
   }
   @media (max-width:840px){
    .logo-subtitle{
     display:none;
    }
   }
   @media (max-width:610px){
    .header-googleplus{
     display:none;
    }
   }
   @media (max-width:550px){
    .header-deviantart{
     display:none;
    }
   }
   @media (max-width:490px){
    .header-github{
     display:none;
    }
   }
   @media (max-width:430px){
    .header-twitter{
     display:none;
    }
   }
   @media (max-width:370px){
    .header-steam{
     display:none;
    }
   }
   @media (max-width:310px){
    .header-facebook{
     display:none;
    }
   }
   @media (max-width:640px){
    .logo-main{
     padding:10px 0 10px 5px;
    }
    .header-linkedin{
     margin-right:10px;
    }
   }
   @media (max-height:650px){
    .content-fun{
     height:425px;
    }
   }
     
