<!-- content fun-->
   <div class="content-fun">
    <!--<span>Lorem</span><span>Ipsum</span><span>Dolor</span>-->
   </div>
   <!--<div class="second-picture"><!-- no content ></div>-->
   <div class="content-main">
    <a href="http://12THMAN.KrisLion.com">12thMan</a> |
    <a href="http://BOOK.KrisLion.com">Book</a> |
    <!--<a href="http://BROWNALE.KrisLion.com">Brown Ale</a> |-->
    <a href="http://CANADA.KrisLion.com">Canada</a> |
    <a href="http://CONCEPT.KrisLion.com">Concept</a> |
    <a href="http://DRONES.KrisLion.com">Drones</a> |
    <a href="http://MUSIC.KrisLion.com">Music</a> |
    <a href="http://PONIES.KrisLion.com">Ponies[@1:14-1:22]</a> |
    <a href="http://ZESTAWIT.KrisLion.com">Zestawit</a>
   </div>
   <div class="content-main">
    <!--<a href="http://kris-lion.blogspot.com/">Blogspot</a> | -->
    <a href="http://DEVIANT.KrisLion.com">DeviantArt</a> |
    <a href="http://FACEBOOK.KrisLion.com">Facebook</a> |
    <a href="http://GITHUB.KrisLion.com">Github</a> |
    <a href="http://GOOGLEPLUS.KrisLion.com">GooglePlus</a> |
    <!--<a href="http://KRISLION.KrisLion.com">Kris Lion</a> | -->
    <a href="http://LINKEDIN.KrisLion.com">LinkedIn</a> |
    <!--<a href="http://MYSPACE.KrisLion.com">MySpace</a> | -->
    <!--<a href="http://PROFILE.KrisLion.com">Profile</a> | -->
    <a href="http://STEAM.KrisLion.com">Steam</a> |
    <a href="http://TWITTER.KrisLion.com">Twitter</a>
   </div>
   <div class="content-main">
    may also contact via [my name]@gmail.com --- kris.lion
    <!--<img height="20px" width="300px" src="images/email.svg" />-->
   </div>
   <!--
    READING THE SOURCE CODE? NICE. TRY THESE:
    <a href="http://DAVERYACK.KrisLion.com">Dave Ryack</a> |
    <a href="http://KAWASAKI.KrisLion.com">Kawasaki</a> |
    <a href="http://MARA.KrisLion.com">Mara</a> |
    <a href="http://MULLINS.KrisLion.com">Mullins</a> |
    <a href="http://NICK.KrisLion.com">Nick</a> |
    <a href="http://RANDY.KrisLion.com">Randy</a> |
    <a href="http://TAYLOR.KrisLion.com">Taylor</a> |
    <a href="http://TOM.KrisLion.com">Tom</a> |
    <a href="http://YUSUKE.KrisLion.com">Yusuke</a> |
   -->
   
