<!--navigation-->
   <div class="nav-main">
    <span class="logo-main"><a href="#">Kris Lion
    <span class="logo-subtitle">"Power to the People!"</span></a></span>
    <!--<span class="logo-subtitle">"Passion: refer to Kristopher Lion."</span>-->
    <!--<span class="cart"><a href="http://linkedin.krislion.com"><img src="images/cart.svg" height="50px" width="50px" /></a></span>-->
    <!--<span class="logo-subtitle">"Ship it!"</span>-->
    <span class="header-linkedin"><a href="http://LINKEDIN.KrisLion.com"><img height="50px" width="50px" src="images/in.svg" /></a></span>
    <span class="header-facebook"><a href="http://FACEBOOK.KrisLion.com"><img height="50px" width="50px" src="images/f.svg" /></a></span>
    <span class="header-twitter"><a href="http://TWITTER.KrisLion.com"><img height="50px" width="50px" src="images/twitter.svg" /></a></span>
    <span class="header-github"><a href="http://GITHUB.KrisLion.com"><img height="50px" width="50px" src="images/github.svg" /></a></span>
    <span class="header-deviantart"><a href="http://DEVIANT.KrisLion.com"><img height="50px" width="50px" src="images/deviantart.svg" /></a></span>
    <span class="header-googleplus"><a href="http://GOOGLEPLUS.KrisLion.com"><img height="50px" width="50px" src="images/gplus.svg" /></a></span>
    <span class="header-steam"><a href="http://STEAM.KrisLion.com"><img height="50px" width="50px" src="images/steam.svg" /></a></span>
   </div>
   
