<!-- todo -->
  <div class="content-main" style="text-align:left">
   (2014-04-26) Coming soon! (eta 4-28, 4-30, 5-2 --- will have updates M-W-F)<br />
   1. chat on page - DONE! 2014-04-24 see www.krislion.com/chat<br />
   2. contact form - DONE! 2014-04-24 (hidden for the awesome)<br />
   3. favicon.ico - DONE! 2014-04-22<br />
   3. twitter button - DONE! 2014-04-21<br />
   4. steam button - DONE! 2014-04-21<br />
   5. deviantart button - DONE! 2014-04-23<br />
   6. googleplus button - DONE! 2014-04-23<br />
   7. play dungeon of endless for 9 hours after a party at work - DONE! 2014-04-25<br />
   8. more images<br />
   9. make chat site into widget<br />
   10.linked sites updates<br />
   11.consider eggplant
  </div>
  
